{% extends "base_site.html" %}

{% block content %}
<table class="table table-hover table-striped  table-bordered table-condensed">
    <tr>
        <th>#</th>
        <th>用户名</th>
        <th>真实姓名</th>
        <th>性别</th>
        <th>操作</th>
    </tr>

    {% for i in TeacherList %}
        <tr style="font-size: 13px;">
            <td>{{ i.id }}</td>
            <td>{{ i.username }}</td>
            <td>{{ i.realname }}</td>
            <td>{{ i.get_sex_display }}</td>
            <td class="host_buttom">
                <a class="btn btn-warning btn-xs"  href="{% url 'coursemgr' i.id %}" >管理任教课程</a>
            </td>
        </tr>
    {% endfor %}

</table>
{% endblock %}