{% load admin_static %}
<!DOCTYPE html>
<html>
<head>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}" />
{% block header %}{% endblock %}
</head>

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}"
  data-admin-utc-offset="{% now "Z" %}">

<!-- Container -->
<div id="container">
    <!-- Header -->
    <div id="header">
        <div id="branding">
            <h1>学生成绩管理系统</h1>
        </div>
        {% block usertools %}

        <div id="user-tools">
            {% block welcome-msg %}
                您好，
                <strong>{% firstof user.username %}</strong>.
            {% endblock %}
            {% block userlinks %}
                {% if user.has_usable_password %}
                <a href="{% url 'admin:password_change' %}">修改密码</a> /
                {% endif %}
                <a href="{% url 'logouturl' %}">登出</a>
            {% endblock %}
        </div>

        {% endblock %}
        {% block nav-global %}{% endblock %}
    </div>
    <!-- END Header -->
    {% block breadcrumbs %}
    <div class="breadcrumbs">
    <a href="/">首页</a>
    {% if title %} &rsaquo; {{ title }}{% endif %}
    </div>
    {% endblock %}

    {% block messages %}
        {% if messages %}
        <ul class="messagelist">{% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
        {% endfor %}</ul>
        {% endif %}
    {% endblock messages %}

    <!-- Content -->
    <div id="content" class="{% block coltype %}colM{% endblock %}">
        {% block content %}
        {{ content }}
        {% endblock %}
        <br class="clear" />
    </div>
    <!-- END Content -->

    {% block footer %}<div id="footer"></div>{% endblock %}
</div>
<!-- END Container -->

</body>
</html>
