{% extends "base_site.html" %}

{% block content %}
    {% if form.errors and not form.non_field_errors %}
        <p class="errornote">
            "登陆失败！"
        </p>
    {% endif %}

    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <p class="errornote">
                {{ error }}
            </p>
        {% endfor %}
    {% endif %}

    <div id="content-main" class="jumbotron">
        <div class="row">
        <div class="col-md-4 col-md-offset-4">
        <h1>登陆</h1>
    {% if user.is_authenticated %}
    <p class="errornote">
        您的权限不足。
    </p>
    {% endif %}

    <form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
      <div class="form-row">
        {{ form.username.errors }}
        {{ form.username.label_tag }} {{ form.username }}
      </div>
      <div class="form-row">
        {{ form.password.errors }}
        {{ form.password.label_tag }} {{ form.password }}
        <input type="hidden" name="next" value="{{ next }}" />
      </div>
      {% url 'admin_password_reset' as password_reset_url %}<p></p>
      <div class="submit-row">
        <label>&nbsp;</label><input type="submit" class="btn btn-primary btn-lg" value="登陆" />
      </div>
    </form>
        </div>
        </div>
    </div>

    <script type="text/javascript">
        $('#id_username').focus();
    </script>
{% endblock %}
