<div class="panel-group" id="accordionSidebar">
    {% if user.is_authenticated %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <span class="glyphicon glyphicon-user btn-xs"></span>个人中心
                </h4>
            </div>
            <table class="table">
                <tbody>
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-asterisk btn-xs"></span><a href="{% url 'ucinfo' %}">个人信息</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-asterisk btn-xs"></span><a href="{% url 'changepassword' %}">修改密码</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-log-out btn-xs"></span><a href="{% url 'logouturl' %}">退出登陆</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        {% ifequal user.role 2 %}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <span class=" glyphicon glyphicon-heart btn-xs"></span>人员管理
                    </h4>
                </div>
                <table class="table">
                    <tbody>
                    <tr>
                        <td>
                            <span class="glyphicon glyphicon-picture btn-xs"></span><a
                                href="{% url 'uclist' %}">管理人员</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="glyphicon glyphicon-picture btn-xs"></span><a href="{% url 'ucadd' %}">添加人员</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <span class=" glyphicon glyphicon-heart btn-xs"></span>班级管理
                    </h4>
                </div>
                <table class="table">
                    <tbody>
                    <tr>
                        <td>
                            <span class="glyphicon glyphicon-picture btn-xs"></span><a
                                href="{% url 'listclass' %}">管理班级</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="glyphicon glyphicon-picture btn-xs"></span><a
                                href="{% url 'addclass' %}">添加班级</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <span class=" glyphicon glyphicon-heart btn-xs"></span>课程管理
                    </h4>
                </div>
                <table class="table">
                    <tbody>
                    <tr>
                        <td>
                            <span class="glyphicon glyphicon-picture btn-xs"></span><a
                                href="{% url 'listcourse' %}">管理课程</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="glyphicon glyphicon-picture btn-xs"></span><a
                                href="{% url 'addcourse' %}">添加课程</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="glyphicon glyphicon-picture btn-xs"></span><a
                                href="{% url 'listteacher' %}">管理任教课程</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        {% endifequal %}
        {% ifequal user.role 1 %}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <span class=" glyphicon glyphicon-heart btn-xs"></span>成绩管理
                    </h4>
                </div>
                <table class="table">
                    <tbody>
                    <tr>
                        <td>
                            <span class="glyphicon glyphicon-picture btn-xs"></span><a
                                href="{% url 'listscoreoperation' %}">查看成绩</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="glyphicon glyphicon-picture btn-xs"></span><a
                                href="{% url 'editscore' %}">录入成绩</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        {% endifequal %}
        {% ifequal user.role 0 %}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <span class=" glyphicon glyphicon-heart btn-xs"></span>成绩查询
                    </h4>
                </div>
                <table class="table">
                    <tbody>
                    <tr>
                        <td>
                            <span class="glyphicon glyphicon-picture btn-xs"></span><a
                                href="{% url 'listcoursescore' %}">查看课程成绩</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        {% endifequal %}
    {% else %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <span class="glyphicon glyphicon-user btn-xs"></span>个人中心
                </h4>
            </div>
            <table class="table">
                <tbody>
                <tr>
                    <td>
                        <span class="glyphicon glyphicon-log-in btn-xs"></span><a href="{% url 'loginurl' %}">登陆</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    {% endif %}
    {% block extmenu %}{% endblock %}
</div>